.audio-div {
   text-align: center;
   padding-top:20%;
}

.audio-dot {
   height:200px; 
   width:200px; 
   background-color: #bbb; 
   border-radius: 50%; 
   border-color: #bbb; 
   border-width: 5%; 
   border-style: solid; 
   display: inline-block
}

.audio-info {
   padding-top: 30%;
}

.audio-icon {
   display: block; 
   margin-left: auto; 
   margin-right: auto; 
   font-size: 84px;
}

.audio-btm {
   margin-left: auto; 
   margin-right: auto; 
   margin-top: 5%;
   text-align: center;
}
